# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Logs
logs/
docs/

# Database
vectordb/

# Streamlit
.streamlit/secrets.toml

# Models
*.pt
*.pth
*.bin

# OS
.DS_Store
Thumbs.db